.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 50%;
}

.alert-tengah {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 12px;
}