<!-- ======= Footer ======= -->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Auction Digital - BCA</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Kantor Pusat
              <br />
              Menara BCA, Grand Indonesia
              <br />
              Jl. MH Thamrin No. 1 Jakarta 10310
            </p>
          </div>
          <!-- <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone :</span> 082297873260
              </li>
              <li class="color-a">
                <span class="color-text-a">Email :</span> audi_bca@bca.co.id
              </li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Hubungi Kami</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-telephone"></i>
                  <a href="https://www.bca.co.id/id/individu" target="_blank"
                    >Halo BCA 1500888</a
                  >
                </li>
                <li class="item-list-a">
                  <i class="bi bi-envelope"></i>
                  <a href="https://www.bca.co.id/id/individu" target="_blank"
                    >halobca@bca.co.id</a
                  >
                </li>
                <li class="item-list-a">
                  <i class="bi bi-whatsapp"></i>
                  <a
                    href="https://api.whatsapp.com/send/?phone=628111500998&text=%23HaloBCA&type=phone_number&app_absent=0"
                  >
                    6281-1150-0998</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Media Sosial</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="bi bi-facebook"></i>
                <a href="https://www.facebook.com/GoodLifeBCA" target="_blank"
                  >GoodLife BCA</a
                >
              </li>
              <li class="item-list-a">
                <i class="bi bi-instagram"></i>
                <a
                  href="https://www.instagram.com/goodlifeBCA/ "
                  target="_blank"
                  >@goodlifebca</a
                >
              </li>
              <li class="item-list-a">
                <i class="bi bi-youtube"></i>
                <a href="https://www.youtube.com/solusiBCA" target="_blank"
                  >Solusi BCA</a
                >
              </li>
              <li class="item-list-a">
                <i class="bi bi-twitter"></i>
                <a href="https://twitter.com/BankBCA" target="_blank"
                  >@BankBCA</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Navbar in footer -->
        <!-- <nav class="nav-footer">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Property</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Blog</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav> -->
        <!--Social Media  -->
        <!-- <div class="socials-a">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="bi bi-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div> -->

        <!-- <div class="copyright-footer">
                    <p class="copyright color-text-a">
                        &copy; Copyright
                        <span class="color-a">EstateAgency</span> All Rights Reserved.
                    </p>
                </div> -->
        <div class="credits">
          <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
                  -->
          Designed by BIT19 - audiBCA
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End  Footer -->
