<main id="main">
  <section class="section-services section-t8" *ngIf="isLoggedIn == true">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Status Pendaftaranmu</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="margin-left: -70px">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-status-box-ico">
                <h2>KTP</h2>
                <div *ngIf="isKtpExist">
                  <span
                    class="bi bi-check-circle"
                    style="color: green"
                    *ngIf="ktpData.isApproved"
                  ></span>
                  <span
                    class="bi bi-x-circle"
                    style="color: red"
                    *ngIf="!ktpData.isApproved"
                  ></span>
                </div>
                <div *ngIf="!isKtpExist">
                  <span class="bi bi-x-circle" style="color: red"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-status-box-ico">
                <h2>NPWP</h2>
                <div *ngIf="isNpwpExist">
                  <span
                    class="bi bi-check-circle"
                    style="color: green"
                    *ngIf="npwpData.isApproved"
                  ></span>
                  <span
                    class="bi bi-x-circle"
                    style="color: red"
                    *ngIf="!npwpData.isApproved"
                  ></span>
                </div>
                <div *ngIf="!isNpwpExist">
                  <span class="bi bi-x-circle" style="color: red"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-status-box-ico">
                <h2>Rekening</h2>
                <span
                  class="bi bi-check-circle"
                  style="color: green"
                  *ngIf="isRekeningExist"
                ></span>
                <span
                  class="bi bi-x-circle"
                  style="color: red"
                  *ngIf="!isRekeningExist"
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-status-box-ico">
                <h2>Profil</h2>
                <span
                  class="bi bi-check-circle"
                  style="color: green"
                  *ngIf="isIncomeExist && isLoanExist"
                ></span>
                <span
                  class="bi bi-x-circle"
                  style="color: red"
                  *ngIf="!isIncomeExist || !isLoanExist"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ======= Agents Section ======= -->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Rekomendasi untukmu</h2>
            </div>
            <div class="title-link">
              <a routerLink="/lot-lelang"
                >All Properties
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img
                src="assets/img/property-6.jpg"
                alt=""
                class="img-d img-fluid"
              />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two"
                      >Tanah + Bangunan</a
                    >
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  2 bidang tanah berikut bangunan dijual dalam satu paket
                  terletak di Jalan Jendral Ahmad Yani Kota Medan
                </p>
                <div class="info-agents color-a">
                  <p><strong>Nilai Limit : </strong> Rp 3.407.100.000</p>
                  <p><strong>Jaminan : </strong> Rp 682.000.000</p>
                  <p><strong>Batas Akhir Jaminan : </strong> 27 Juli 2022</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img
                src="assets/img/property-3.jpg"
                alt=""
                class="img-d img-fluid"
              />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two"
                      >Stiven Spilver <br />
                      Darw</a
                    >
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna
                  dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p><strong>Phone: </strong> +54 356 945234</p>
                  <p><strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img
                src="assets/img/property-7.jpg"
                alt=""
                class="img-d img-fluid"
              />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two"
                      >Emma Toledo <br />
                      Cascada</a
                    >
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna
                  dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p><strong>Phone: </strong> +54 356 945234</p>
                  <p><strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Agents Section -->
</main>
