<app-navbar></app-navbar>
<div class="container">
  <section class="section-services section-t8">
    <h2>Persyaratan dan Ketentuan</h2>
    <hr />
    <div class="text-center">
      <h4>
        PELAKSANAAN LELANG DENGAN PENAWARAN SECARA TERTULIS TANPA KEHADIRAN
        PESERTA LELANG MELALUI INTERNET
      </h4>
      <h4>PADA KANTOR PELAYANAN KEKAYAAN NEGARA DAN LELANG</h4>
    </div>
    <div class="container">
      <ol>
        <li>
          Peserta Lelang menyetujui transaksi yang dilakukan melalui aplikasi
          Lelang Melalui Internet dan tidak boleh melanggar peraturan perundang­
          undangan yang berlaku di Indonesia.
        </li>
        <li>
          Peserta Lelang tunduk dan taat pada semua peraturan yang berlaku di
          Indonesia yang berhubungan dengan penggunaan jaringan dan komunikasi
          data, baik di wilayah Negara Kesatuan Republik Indonesia maupun dari
          dan keluar wilayah Negara Kesatuan Republik Indonesia.
        </li>
        <li>Waktu yang digunakan adalah waktu server.</li>
        <li>
          Peserta Lelang dianggap melakukan penawaran lelang secara sadar tanpa
          paksaan dari pihak mana pun dan penawaran lelang bersifat mengikat dan
          sah.
        </li>
        <li>
          Peserta Lelang bertanggung jawab penuh atas transaksi elektronik yang
          dilakukan dengan menggunakan aplikasi Lelang Melalui Internet.
        </li>
      </ol>
    </div>
  </section>
</div>
<app-footer></app-footer>
