<main id="main">
  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Layanan Kami</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-broadcast-pin"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Lelang Digital</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Kami menciptakan sistem lelang digital, dimana anda dapat
                melakukan penawaran harga tanpa harus datang ke suatu tempat
              </p>
            </div>
            <!-- <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Read more
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-house-door"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">KPR Properti Bekas</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Layanan luar biasa untuk konsumen yang luar biasa. Tidak perlu
                bingung terkait pembayaran properti lelang ! Kami punya
                solusinya
              </p>
            </div>
            <!-- <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Read more
                                <span class="bi bi-calendar4-week"></span>
                            </a>
                        </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-bookmark-heart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Rekomendasi Properti</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Didukung oleh sistem rekomendasi yang dapat memudahkan anda
                dalam mencari properti sesuai dengan profil
              </p>
            </div>
            <!-- <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">Read more
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</main>
