<c-carousel>
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngIf="slides[0]">
      <img
        [src]="slides[0].src"
        class="d-block w-100"
        loading="lazy" style="height: 750px;"/>
    </c-carousel-item>
    <c-carousel-item *ngIf="slides[1].src">
      <img
        [src]="slides[1].src"
        class="d-block w-100"
        loading="lazy" style="height: 750px;"/>
    </c-carousel-item>
    <c-carousel-item *ngIf="slides[2].src">
      <img
        [src]="slides[2].src"
        class="d-block w-100"
        loading="lazy" style="height: 750px;"/>
    </c-carousel-item>
    <c-carousel-item *ngIf="slides[3].src">
      <img
        [src]="slides[3].src"
        class="d-block w-100"
        loading="lazy" style="height: 750px;"/>
    </c-carousel-item>
    <c-carousel-item *ngIf="slides[4].src">
      <img
        [src]="slides[4].src"
        class="d-block w-100"
        loading="lazy" style="height: 750px;"/>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>
