<div class="container">
    <section class="section-services section-t8">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">SELAMAT</h4>
            <p>Anda memenangkan bidding ini hebat banget lho wahh ampun suhu si paling jago deh</p>
            <hr>
            <p class="mb-0">Berikut langkah selanjutnya :</p>
            <table class="table table-striped mt-3">
                <tbody>
                    <tr>
                        <th scope="row">Nama Bank</th>
                        <td>Bank Central Asia</td>
                    </tr>
                    <tr>
                        <th scope="row">Nomor VA</th>
                        <td>3242353432</td>
                    </tr>
                    <tr>
                        <th scope="row">Atas Nama</th>
                        <td>Jason Fang</td>
                    </tr>
                    <tr>
                        <th scope="row">Batas Akhir Pelunasan</th>
                        <td>02-03-2023</td>
                    </tr>
                    <tr>
                        <th scope="row">Jumlah Pelunasan</th>
                        <td>Rp 6.653.000</td>
                    </tr>
                    <tr>
                        <th scope="row">Informasi Tambahan</th>
                        <td>
                            <ul>
                                <li>Jika objek lelang berupa tanah atau bangunan, maka anda wajib melunasi BPHTB dahulu
                                    dan membawa bukti pembayaran saat pengambilan risalah lelang</li>
                                <li>Pada saat pengambilan kutipan risalah lelang dan kuitansi pelunasan, siapkan materai
                                    tempel Rp 10.000 sebanyak 2 (dua) buah</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Data Penawaran</h2>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Kode Penawaran</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ABCR4234</td>
                        <td>03-04-2022 11:59</td>
                        <td>Rp. 4.567.000 (Penawaran Anda)</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>ABCR4234</td>
                        <td>03-04-2022 11:59</td>
                        <td>Rp. 4.567.000 (Penawaran Anda)</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>ABCR4234</td>
                        <td>03-04-2022 11:59</td>
                        <td>Rp. 4.567.000 (Penawaran Anda)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>