<mat-card>
  <mat-card-title>Ganti Password</mat-card-title>

  <form [formGroup]="gantiPasswordForm" (ngSubmit)="changePassword()">
    <input type="hidden" class="form-control" name="id" formControlName="id" />

    <div class="alert alert-danger" role="alert" *ngIf="isError">
      <p style="color: white">
        {{ errorMessage }}
      </p>
    </div>

    <p>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password Lama</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="password"
          name="oldPassword"
          formControlName="oldPassword"
        />
        <mat-icon matSuffix>lock_open</mat-icon>
        <mat-hint>Isi password akun anda saat ini</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password Baru</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="password"
          name="newPassword"
          formControlName="newPassword"
        />
        <mat-icon matSuffix>lock_open</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Ulangi Password Baru</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          type="password"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
        <mat-icon matSuffix>lock_open</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </p>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary">
        <mat-icon>edit</mat-icon> Ganti Password
      </button>
    </mat-card-actions>
  </form>
</mat-card>
