<main id="main">
    <section class="section-services section-t8">
        <div class="text-center mt-4">
            <h1>Lupa Password</h1>
            <form action="">
                <p>
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix> email</mat-icon>
                        <mat-hint>Akan ada pemberitahuan di email anda nantinya</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <button class="btn btn-primary">
                        <i class="bi bi-arrow-clockwise"></i> Pulihkan akun anda
                    </button>
                </p>
            </form>

        </div>
    </section>
</main>