<app-navbar></app-navbar>
<main class="">
  <!-- ======= Intro Single ======= -->
  <section class="section-services section-t8 mb-3">
    <div class="container text-center">
      <div class="alert alert-info" role="alert">
        <h1 class="text-white">
          <strong>Selamat</strong> pengajuan KPR Rumah Second anda telah kami
          terima.
          <br />
          Staff kami akan segera menghubungi anda
        </h1>
        <h1 class="text-white">
          <a class="btn btn-light" routerLink="/home"
            >Klik disini untuk kembali</a
          >
        </h1>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->
</main>
<!-- End Property Single-->
<app-footer></app-footer>
