<app-navbar></app-navbar>
<div class="container">
  <section class="section-services section-t8">
    <h1>Detail Status Lelang & Pembayaran Uang Jaminan</h1>
    <mat-card>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Status Lelang</th>
                <td>{{ dataVA.auctionobjectId?.status }}</td>
              </tr>
              <tr>
                <th scope="row">Waktu Mulai</th>
                <td>
                  {{
                    dataVA.auctionobjectId?.bidStart | date: "dd-LLLL-yyyy H:mm"
                  }}
                </td>
              </tr>
              <tr
                *ngIf="dataVA.auctionobjectId?.status == 'SEDANG BERLANGSUNG'"
              >
                <th scope="row">Tindakan</th>
                <td>
                  <!-- <p> Lelang Dimulai</p> -->
                  <button
                    class="btn btn-info"
                    routerLink="/lot-lelang/bidding/{{
                      dataVA.auctionobjectId?.id
                    }}"
                  >
                    Mulai Bidding
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">UANG JAMINAN LELANG</th>
              </tr>
              <tr>
                <th scope="row">Nominam Uang Jaminan</th>
                <td>Rp{{ dataVA.value | number: "1.2-2" }}</td>
              </tr>
              <tr>
                <th scope="row">Virtual Account</th>
                <td>{{ dataVA.noVa }}</td>
              </tr>
              <tr>
                <th scope="row">Nama Bank</th>
                <td>BCA</td>
              </tr>
              <tr>
                <th scope="row">Status Pembayaran</th>
                <td *ngIf="dataVA.status == 'PAID'">
                  <span class="badge bg-gradient-success">{{
                    dataVA.status
                  }}</span>
                </td>
                <td *ngIf="dataVA.status == 'PENDING'">
                  <span class="badge bg-gradient-warning">{{
                    dataVA.status
                  }}</span>
                </td>
              </tr>
              <tr *ngIf="dataVA.status == 'PENDING'">
                <th scope="row"></th>
                <td>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="payVA()"
                  >
                    Saya sudah membayar jaminan
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </section>
</div>
<app-footer></app-footer>
