<main id="main">
  <section class="section-services section-t8">
    <mat-expansion-panel class="example-full-width">
      <mat-expansion-panel-header>
        <mat-panel-title> Lelang Saya </mat-panel-title>
      </mat-expansion-panel-header>

      <ul>
        <li><a routerLink="/status-lelang">Status Lelang</a></li>
        <li><a routerLink="/pelunasan-lelang">Pelunasan Lelang</a></li>
      </ul>
    </mat-expansion-panel>
  </section>

  <section class="mt-4">
    <mat-expansion-panel class="example-full-width">
      <mat-expansion-panel-header>
        <mat-panel-title> Persyaratan Lelang </mat-panel-title>
      </mat-expansion-panel-header>

      <ul>
        <li><a routerLink="/profil/ktp">KTP</a></li>
        <li><a routerLink="/profil/rekening-bank">Rekening Bank</a></li>
        <li><a routerLink="/profil/npwp">NPWP</a></li>
      </ul>
    </mat-expansion-panel>
  </section>

  <section class="mt-4">
    <mat-expansion-panel class="example-full-width">
      <mat-expansion-panel-header>
        <mat-panel-title> Akun saya </mat-panel-title>
      </mat-expansion-panel-header>

      <ul>
        <li><a routerLink="/profil/ganti-nama">Ganti Profil</a></li>
        <li><a routerLink="/profil/ganti-password">Ganti Password</a></li>
      </ul>
    </mat-expansion-panel>
  </section>

  <section class="mt-4">
    <mat-expansion-panel class="example-full-width">
      <mat-expansion-panel-header>
        <mat-panel-title>KPR Rumah Second </mat-panel-title>
      </mat-expansion-panel-header>

      <ul>
        <li><a routerLink="/profil/riwayat-kpr">Riwayat</a></li>
      </ul>
    </mat-expansion-panel>
  </section>
</main>
